<% if @card %>
    $('#notice').show();
    $('#notice').html('<%= flash[:notice] %>');
    $('#form').html('<h3><%= escape_javascript(render 'form') %></h3>');
<% else %>
 $('#notice').show();
 $('#notice').html('<%= flash[:notice] %>');
 $('#translated_text').hide();
 $('#form').hide();
 $('#image').html('<h3><%= t'home.index.no_cards' %></h3>');
<% end %>
