<% if flash[:notice] %>
    <div class='alert alert-dismissable'>
      <% flash.each do |name, msg| -%>
          <%= content_tag :div, msg, class: name %>
      <% end -%>
    </div>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-md-5 col-md-push-3 text-center ">
      <div class="panel panel-default">
        <div class="panel-heading">
          <% unless @card.nil?%>
            <%= render 'form' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

