<header class="clearfix">
  <h1><%= link_to "Флэшкарточкер", root_path %></h1>
  <ul class="nav nav-tabs">
    <li role="presentation"><%= link_to "Все карточки", cards_path %></li>
    <li role="presentation"><%= link_to "Новая карточка", new_card_path %></li>
  </ul>
</header>
